<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    {% include 'header.html' %}
</head>

<body id="about-body">
    <header>
        {% include 'toolbar.html' %}
        <h1 class="container text-center" style="text-shadow: 6px 5px 3px rgba(0,0,0,0.7);">About</h1>
    </header>
    <main id="about" class="jumbotron">
        <p>This is a database project made for CPSC 531.</p>
        <p>Programmers</p>
        <ul>
            <li>Chao Wu</li>
            <li>Jeevika Yarlagadda</li>
        </ul>
        <p>Technologies Used</p>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Bootstrap</li>
            <li>JavaScript</li>
            <li>Flask</li>
            <li>Python</li>
            <li>Python Open Database Connectivity(ODBC)</li>
        </ul>
        <p>Libraries Used</p>
        <ul>
            <li>Flask</li>
            <li>Python Collections</li>
        </ul>
    </main>
    {% include 'script.html' %}
</body>

</html>