<!DOCTYPE html>
<html lang="en">

<head>
    <title>Employee</title>
    {% include 'header.html' %}
</head>

<body id="employee-body">
    <header>
        {% include 'empToolbar.html' %}
        <h1 class="container text-center" style="text-shadow: 6px 5px 3px rgba(0,0,0,0.7);">Answer Questions</h1>
    </header>
    <main class="jumbotron" id="main-tag">
        <p class="container text-center">Enter your employee ID and customization plan ID to process questions from
            customers.</p>
        <div class="container">
            <div class="form-group">
                <label for="empID"><b>Employee ID</b></label>
                <input type="text" class="form-control validate" name="empID" required>
            </div>
        </div>

        <div class="container">
            <div class="form-group">
                <label for="planID"><b>Customization Plan ID</b></label>
                <input type="text" class="form-control validate" name="planID" required>
            </div>
        </div>

        <div class="container">
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-success" id="sign-log" type="submit">Search</button>
            </div>
        </div>
    </main>
    {% include 'script.html' %}
</body>

</html>