<!DOCTYPE html>
<html lang="en">

<head>
    <title>Billing</title>
    {% include 'header.html' %}
</head>

<body id="customer-body">
    <header>
        {% include 'cusToolbar.html' %}
        <h1 class="container text-center" style="text-shadow: 6px 5px 3px rgba(0,0,0,0.7);">Billing</h1>
    </header>
    <main class="jumbotron" id="main-tag">
        {% if message %}
        <p class="container text-center"><strong>{{ message }}</strong></p>
        {% endif %}
        <p class="container text-center">Enter your customization plan id and click search button to get your billing
            details.</p>
        <form action="/getTotal" method="post">
            <div class="container">
                <!-- {% if message %}
                <p>{{ message }}</p>
                {% endif %} -->
                <div class="form-group">
                    <label for="custID"><b>Customer ID</b></label>
                    <input type="text" class="form-control validate" name="custID" required>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-success" id="sign-log" type="submit">Search</button>
                </div>
            </div>
        </form>
    </main>
    {% include 'script.html' %}
</body>

</html>