<!DOCTYPE html>
<html lang="en">

<head>
    <title>Customization</title>
    {% include 'header.html' %}
</head>

<body id="customer-body">
    <header>
        {% include 'cusToolbar.html' %}
        <h1 class="container text-center" style="text-shadow: 6px 5px 3px rgba(0,0,0,0.7);">Customization</h1>
    </header>
    <main class="jumbotron" id="main-tag">
        {% if message %}
        <p class="container text-center"><strong>{{ message }}</strong></p>
        {% endif %}
        <div class="container">
            <p class="container text-center">Customization Guide</p>
            <p>We offer serveral default customization options. You can feel free to choose one of them. You
                can also do the entire customization by yourself by specifying which parts to be applied what
                customization in the following table. </p>
            <p>Default Customization Options</p>
            <ol>
                <li>Fancy exterior paint: Blue, Red, Yellow</li>
                <li>Plush interior</li>
            </ol>
        </div>

        <br>
        <br>

        <p class="container text-center">Employee Selection</p>
        <p class="container text-center">Before the start of your customization plan, please select an available
            employee for your customization. Please follow up with the employee you chose for any future updates. </p>
        <div class="container">
            <form action="/searchEmp">
                <div class="modal-footer d-flex justify-content-center">
                    <!-- {% if message %}
                    <p>{{ message }}</p>
                    {% endif %} -->
                    <button class="btn btn-success" id="sign-log" type="submit">Search for available
                        employees</button>
                </div>
            </form>

        </div>

        <br>
        <br>

        <p class="container text-center">Customization Plan Details</p>
        <form action="/customize" method="post">
            <div class="container">
                <!-- {% if message %}
                <p>{{ message }}</p>
                {% endif %} -->
                <div class="form-group">
                    <label for="custID"><b>Customer ID</b></label>
                    <input type="text" class="form-control validate" name="custID" required>
                </div>
                <div class="form-group">
                    <label for="empName"><b>Employee Name</b></label>
                    <input type="text" name="empName" class="form-control validate" required>
                </div>
                <div class="form-group">
                    <label for="itemName"><b>Item Name</b></label>
                    <input type="text" class="form-control validate" name="itemName" required>
                </div>
                <div class="form-group">
                    <label for="itemDescri"><b>Item Description</b></label>
                    <input type="text" name="itemDescri" class="form-control validate" required>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-success" id="sign-log" type="submit">Submit</button>
                </div>
            </div>
        </form>


        <br>
        <br>

        <p class="container text-center">Use your customer ID to get your Customization Plan ID</p>
        <form action="/getPlanID" method="post">
            <div class="container">
                <!-- {% if message %}
                <p>{{ message }}</p>
                {% endif %} -->
                <div class="form-group">
                    <label for="cusID"><b>Customer ID</b></label>
                    <input type="text" class="form-control validate" name="cusID" required>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-success" id="sign-log" type="submit">Get</button>
                </div>
            </div>
        </form>
    </main>
    {% include 'script.html' %}
</body>

</html>