<!DOCTYPE html>
<html lang="en">

<head>
    <title>Customer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">

    {% include 'header.html' %}
</head>

<body>
    <header>
        {% include 'toolbar.html' %}
        <h1 class="container text-center" style="text-shadow: 6px 5px 3px rgba(0,0,0,0.7);">Current Customers</h1>
    </header>
    <div class="main">

        <p>Welcome Back!</p>

    </div>
    <div class="sidenav">
        <a class="nav-link" href="/">Back to Home</a>

        <!-- <a class="nav-link" href="/customer">Customer</a> -->
        <a class="nav-link" href="/vehicle">Vehicle Information</a>

        <a class="nav-link" href="/customization">Customization Plan</a>
        <a class="nav-link" href="/billing"> Billing</a>
        <a class="nav-link" href="/payment">Payment</a>

        <a class="nav-link" href="/cusReport"> Customization Report</a>
    </div>




    {% include 'script.html' %}
</body>

</html>