<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" style="text-shadow: 6px 5px 3px rgba(0,0,0,0.7);">Joe's Chops</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-right" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/employee">Employee</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/showPlan">Show Plan</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/updateProgress">Update Progress</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/ansQuestions">Answer Questions</a>
            </li>
        </ul>
    </div>
</nav>