<!DOCTYPE html>
<html lang="en">

<head>
    <title>Employee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
    {% include 'header.html' %}
</head>

<body>
    <header>
        {% include 'toolbar.html' %}

        <h1 class="container text-center" style="text-shadow: 6px 5px 3px rgba(0,0,0,0.7);">Update Customization
            Progress</h1>
    </header>
    <div class="main">

        {% if message %}
        <p class="container text-center"><strong>{{ message }}</strong></p>
        {% endif %}
        <p class="container text-center">Upload the newest status for an ongoing customization plan.</p>
        <form action="/update" method="post">
            <div class="container">
                <!-- {% if message %}
                <p>{{ message }}</p>
                {% endif %} -->
                <div class="form-group">
                    <label for="empID"><b>Employee ID</b></label>
                    <input type="text" name="empID" required>
                </div>
                <div class="form-group">
                    <label for="link"><b>Photo Link</b></label>
                    <input type="text" name="link" required>
                </div>
                <div class="form-group">
                    <label for="date"><b>Delivery Date</b></label>
                    <input type="text" name="date" required>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-success" id="sign-log" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="sidenav">
        <a class="nav-link" href="/">Back to Home</a>

        <!-- <a class="nav-link" href="/customer">Customer</a> -->
        <a class="nav-link" href="/showPlan">Show Plan</a>

        <a class="nav-link" href="/updateProgress">Update Progress</a>
        <a class="nav-link" href="/ansQuestions">Answer Questions</a>
        <a class="nav-link" href="/delete">Delete</a>
    </div>
    {% include 'script.html' %}
</body>

</html>